.feature {
    background-color: #222224;
    margin-top: 96px;
    padding-top: 104px;
    padding-right: 50px;
    padding-bottom: 104px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    &__item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        animation: wobble-hor-bottom 3s infinite both;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}