@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.9);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes wobble-hor-bottom {

    0% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }

    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
}

.center {
    padding-right: calc(50% - $widthSite / 2);
    padding-left: calc(50% - $widthSite / 2);
}

main {
    position: relative;
}

.start {
    width: 100%;
    display: flex;

    &__img {
        width: 50%;
    }

    &__content {
        background: #F1E4E6;
        width: 50%;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__info {
        margin-left: 64px;
        border-left: 12px solid $colorSelectSite;
        padding-left: 16px;
        animation: heartbeat 3s ease-in-out infinite both;
    }

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
    }
}

.offer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    padding-bottom: 96px;

    &__item {
        position: relative;

        &_little {
            background-image: url(../images/back_offer_little.png);
            z-index: 1;

            &:hover {
                transform: scale(1.2) translate(0px, -20px);
                transition: 0.7s;
                z-index: 5;
            }
        }

        &_big {
            grid-column: 1 / -1;
            background-image: url(../images/back_offer_big.png);

            &:hover {
                transform: scale(1.1) translate(0px, 20px);
                transition: 0.7s;
            }
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
}

.title {
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 6px;
        color: #9F9F9F;
    }
}

.product-link {
    display: flex;
    justify-content: center;

    &__link {
        margin-top: 48px;
        margin-bottom: 95px;
        padding: 16px 36px 16px 36px;
        background-color: white;
        border: 1px solid $colorSelectSite;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
        text-align: center;
        position: relative;
        right: auto;
        left: auto;

        &:hover {
            background: $colorSelectSite;
            color: white;
            transition: all 0.3s;
        }
    }
}