.product-box {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    position: relative;
    width: 360px;
    height: 600px;

    &__img {
        width: 100%;

        &:hover {
            border: 2px solid $colorSelectSite;
            opacity: 0.75;
            transition: all 0.3s;
        }
    }

    &__content {
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}