.filter-sort {
    height: 132px;
    padding-top: 51px;
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
}

.filter {
    padding-top: 13px;
    width: 360px;
    position: relative;
    z-index: 10;

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgb(0, 0, 0);
        box-sizing: border-box;
    }

    &[open] &__heading {
        color: #F16D7F;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__content {
        background-color: #fff;
        padding: 0 16px 16px 16px;
    }

    &__heading {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item[open] &__head {
        color: $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort-box {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    z-index: 10;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgb(0, 0, 0);
        box-sizing: border-box;
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}

.pagination-box {
    margin-top: 48px;
    margin-bottom: 96px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #EBEBEB;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;

    &:hover:not(.active) {
        color: $colorSelectSite;
    }

}

.arrow:hover path {
    fill: $colorSelectSite;
}