.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
}

.filter {
    padding-top: 13px;
    box-sizing: border-box;
    width: 360px;
    position: relative;
    z-index: 10;

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgb(0, 0, 0);
    }

    &[open] &_heading {
        color: #F16D7F;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &_content {
        background-color: #fff;
        padding: 0 16px 16px 16px;
    }

    &_heading {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &_item {
        margin-top: 16px;
    }

    &_head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &_item[open] &_head {
        color: $colorSelectSite;
    }

    &_link_box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &_link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_link:hover {
        color: $colorSelectSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    z-index: 10;

    &_details {
        position: relative;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgb(0, 0, 0);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &_check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}

.product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;

    &_img {
        width: 100%;
    }

    &_content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &_name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000;
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #5D5D5D;
    }

    &_price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}

.pagination-box {
    margin-top: 48px;
    margin-bottom: 96px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #EBEBEB;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;

    &:hover:not(.active) {
        color: $colorSelectSite;
    }

}

.arrow:hover path {
    fill: $colorSelectSite;
}