// Фрагментирование
@import 'vars';

// Миксины
@import 'mixins';

// Наследование
%flex {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato',
        sans-serif;
}

a {
    text-decoration: none;
}

// Математика
.center {
    padding-right: calc(50% - $widthSite / 2);
    padding-left: calc(50% - $widthSite / 2);
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.top-head {
    background: #F1E4E6;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-head_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.bredcrumbs_link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.bredcrumbs_link_site {
    font-weight: 700;
    color: $colorSelectSite;
}

.product-box {
    @include centerflex();
    gap: $gapGrid;
}

// Вложенность
.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;

    &_img {
        width: 100%;
    }

    &_content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &_name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #5D5D5D;
    }

    &_price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}