.header {
    background-color: $backBlock;
    padding: 20px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;


    &__left {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.search {
    display: flex;

    &__button {
        cursor: pointer;
        background: none;
        border: none;
    }

    &__input {
        display: none;
        margin-right: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    &__input:focus {
        outline: none;
        display: flex;
    }

    &__input::placeholder {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: black;
        opacity: 0.75;
    }

    &:hover &__input {
        display: flex;
    }
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.menu {
        right: 0;
    }
}

.menu {
    background: #FFFFFF;
    box-shadow: 6px 4px 15px rgba(0, 0, 0.21);
    width: $widthBurgerMenu;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: -$widthBurgerMenu;
    transition: all 1s;
    z-index: 10;

    &__title {
        color: $colorText;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__item {
        padding-top: 24px;
    }

    &__heading {
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: black;
            transition: all 0.3s;
        }
    }

    &__list {
        list-style-type: none;
        padding-top: 12px;
        padding-left: 21px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $colorSelectSite;
            transition: all 0.3s;
        }
    }
}