@media (max-width: 1024px) {
    .content-reg {
        display: flex;
        gap: 100px;

        &__left {
            margin-left: 28px;
        }

        &__right {
            margin-right: 28px;
        }
    }

    .reg {
        &__name {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-top: 64px;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            &_login {
                margin-top: 32px;
            }
        }

        &__input {
            margin-top: 20px;
            padding-left: 16px;
            // width: 360px;
            height: 44px;
            border: 1px solid #A4A4A4;
            border-radius: 0;
            box-sizing: border-box;
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__gender {
            display: flex;
            gap: 20px;
            margin-top: 32px;
            color: $colorText;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__login {
            display: flex;
            flex-direction: column;
        }

        &__text {
            // width: 360px;
            margin-top: 16px;
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__submit {
            width: 168px;
            height: 50px;
            margin-top: 40px;
            margin-bottom: 96px;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: $colorSelectSite;
            border: none;
            box-sizing: border-box;

            &:hover {
                background-color: #FFF;
                color: $colorSelectSite;
                border: 1px solid $colorSelectSite;
                box-sizing: border-box;
                border-radius: 0;
            }
        }
    }

    .loylty {
        color: $colorText;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &__heading {
            margin-top: 64px;

        }

        &__text {
            margin-top: 22px;

        }

        &__form {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 24px;
    }

    input[type="radio"] {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {

    .reg {
        &__title {
            margin-top: 40px;
        }
    }

    .loylty {
        font-size: 16px;

        &__heading {
            margin-top: 40px;
        }

        &__text {
            margin-top: 22px;
        }
    }
}

@media (max-width: 425px) {
    .content-reg {
        gap: 0;
        flex-direction: column;

        &__left {
            margin-left: 8px;
            margin-right: 8px;
        }

        &__right {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .loylty {
        font-size: 16px;

        &__heading {
            margin-top: 0;

        }
    }
}

@media (max-width: 375px) {
    .content-reg {
        gap: 0;
        flex-direction: column;

        &__left {
            margin-left: 8px;
            margin-right: 8px;
        }

        &__right {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .loylty {
        font-size: 16px;

        &__heading {
            margin-top: 0;

        }
    }
}